.accordion__title {
  position: relative;

  display: block;
  width: 100%;
  padding: 1rem;

  font-size: 1rem;
  text-align: left;
  text-transform: none;

  background-color: uswdsGray(2);
  border-bottom: 1px solid uswdsGray(3);

  &[aria-hidden="false"] {
    color: $white;

    background-color: lcsBlue(4);
  }
}

.accordion-title__icon {
  position: absolute;
  top: 1rem;
  right: 1rem;

  transition: transform 150ms ease-in-out;
}

.accordion__title[aria-hidden="false"] .accordion-title__icon {
  transform: rotate(180deg);
}

.accordion__panel-wrapper {
  overflow: hidden;
}

.accordion__panel {
  position: relative;

  padding: 1rem;
}
