.breadcrumbs {
  padding-bottom: 1rem;
}

.breacrumbs__crumb {
  &:after {
    content: "/";
    margin-left: 1rem;
  }

  &:last-of-type:after {
    display: none;
  }
}

.breadcrumbs-crumb__link {
  color: uswdsGray(5);
  font-weight: normal;
  text-decoration: none;

  transition: color 150ms ease-in-out;

  &:hover {
    color: lcsBlue(5);
  }
}
