.carousel {
  position: relative;

  width: 100%;
  height: 32rem;

  border: 1px solid uswdsGray(1);
  overflow: hidden;
}

.carousel__content {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.carousel__slide {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  flex: 1 0 100%;
  margin-bottom: 0;

  background-color: $white;
  opacity: 0;
  pointer-events: none;
  transition: all 150ms ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

ul.carousel__content li.carousel__slide {
  margin-bottom: 0;
}

.carousel-slide__image {
  flex: 1 1 50%;
  height: 100%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-slide__content {
  flex: 1 1 50%;
  padding: 1rem;
}

.carousel__control {
  position: absolute;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  padding: 0;
  margin: 0;

  font-size: 1rem;

  appearance: none;
  background-color: transparent;

  &.next {
    right: 0;
  }

  &.previous {
    right: 2rem;
  }
}

.carousel__pickers {
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  padding: 0.5rem 1rem;

  background-color: uswdsGray(1);
}

.carousel__picker {
  height: 1rem;
  width: 1rem;
  margin: 0 1rem 0 0;
  padding: 0;

  background-color: transparent;
  border: 1px solid uswdsGray(3);
  border-radius: 50%;

  &:last-of-type {
    margin-right: 0;
  }

  &.active {
    background-color: lcsBlue(4);
  }
}
