// General Forms
// --------------------------------------------------------

.form-element-wrapper {
  position: relative;
}

.form-option-wrapper {
  position: relative;

  margin-bottom: 0.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form-option-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-icon {
  position: absolute;
  top: 50%;
  right: 1rem;

  font-size: 0.75rem;

  transform: translateY(-50%);

  pointer-events: none;
}
