.dropdown-menu {
  z-index: 9999;
  position: relative;

  display: flex;
  justify-content: flex-end;
  width: 100%;

  border: 1px solid uswdsGray(4);
  border-radius: 0.25rem;

  @include disabled {
    background-color: uswdsDisabled(1);
    cursor: not-allowed;

    .dropdown-menu__button {
      pointer-events: none;
    }
  }

  &.active {
    border-radius: 0.25rem 0.25rem 0 0;
  }
}

.dropdown-menu__button {
  flex: 1 1 100%;
  width: 100%;

  padding: 0.5rem;

  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;

  @include appearance-reset;
  background-color: transparent;

  &:focus {
    outline: 0;
  }
}

.dropdown-menu__icon {
  flex: 1 1 auto;

  text-align: right;

  padding: 0.5rem;

  pointer-events: none;
}

.dropdown-menu-list__link {
  display: block;
  padding: 1rem;

  @include ui-micro-copy;
  color: uswdsGray(8);
  font-weight: 400;

  text-decoration: none;

  @include transition(font-weight);

  &:hover {
    font-weight: 700;
  }
}

.dropdown-menu-list__wrapper {
  z-index: 99;
  position: absolute;
  left: -1px;
  width: calc(100% + 2px);
  top: 100%;
  min-width: 18rem;

  overflow: hidden;
  border-top: 1px solid uswdsGray(2);
  border-left: 1px solid uswdsGray(4);
  border-right: 1px solid uswdsGray(4);
  border-bottom: 1px solid uswdsGray(4);
  border-radius: 0 0 0.25rem 0.25rem;
}
