.meatball-menu__container {
  position: relative;
}

.meatball-menu__toggle {
  position: relative;

  width: 3rem;
  height: 1rem;

  background-color: $white;
  @include appearance-reset;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover,
  &.active {
    .meatball-menu-toggle__dot {
      background-color: uswdsGray(8);
    }
  }

  &:focus {
    outline: 0;
  }
}

.meatball-menu-toggle__dot {
  position: absolute;
  top: 8px;

  width: 0.5rem;
  height: 0.5rem;

  background-color: transparent;
  border: 1px solid uswdsGray(5);
  border-radius: 50%;
  transition: all 150ms ease-in-out;

  &.col-1 {
    left: 8px;
  }
  &.col-2 {
    left: 20px;
  }
  &.col-3 {
    left: 32px;
  }
}

.meatball-menu-list__wrapper {
  z-index: 99;
  position: absolute;
  left: 0.5rem;
  top: 120%;
  min-width: 18rem;

  overflow: hidden;
  @include elevation(1);
}
