.hamburger-menu-toggle__line {
  left: 8px;

  width: 2rem;
  height: 0.25rem;

  border-radius: 0.25rem;

  &.row-1 {
    top: 8px;
  }
  &.row-2 {
    top: 22px;
  }
  &.row-3 {
    top: 36px;
  }
}

.hamburger-menu__close {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 0;
  padding: 0;

  color: uswdsGray(8);
  font-size: 1.5rem;

  background-color: transparent;
  border: 1px solid uswdsGray(3);
  border-radius: 50%;
  @include appearance-reset;
}

.hamburger-menu {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  background-color: $white;
  @include elevation(2);
  pointer-events: none;
}

.hamburger-menu__header {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid uswdsGray(3);
}

.hamburger-menu__list-wrapper {
  margin: 1rem;
  overflow: hidden;
}

.hamburger-menu .hamburger-menu__list {
  margin: 0 -1rem 0 0;
  height: 100%;
  overflow-y: scroll;
}

.hamburger-menu-list__header {
  &:after {
    display: block;
    content: "";

    height: 0.25rem;
    width: 4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;

    background-color: uswdsGray(5);
  }
}

.hamburger-menu-list__item {
  padding-bottom: 1rem;
  padding-top: 1rem;

  border-bottom: 1px solid uswdsGray(3);

  &:hover {
    background-color: uswdsGray(1);
  }
}

@include breakpoint(small) {
  .hamburger-menu {
    max-width: 24rem;
  }
}
