.message-box {
  padding: 1rem;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
}

.message-box__icon {
  font-size: 1.5rem;
}

.message-box__title {
  margin-left: 0.5rem;

  font-family: $sans-serif;
}

.message-box__rule {
  height: 1px;
  width: 100%;

  margin: 1rem auto;

  border: none;
}

.message-box--info {
  @include message-box-color-scheme(
    $text-color: uswdsInfo(5),
    $background-color: uswdsInfo(1),
    $border-color: uswdsInfo(3),
    $rule-color: uswdsInfo(3),
    $icon-color: uswdsInfo(3)
  );
}

.message-box--error {
  @include message-box-color-scheme(
    $text-color: uswdsError(5),
    $background-color: uswdsError(1),
    $border-color: uswdsError(3),
    $rule-color: uswdsError(3),
    $icon-color: uswdsError(3)
  );
}

.message-box--success {
  @include message-box-color-scheme(
    $text-color: uswdsSuccess(5),
    $background-color: uswdsSuccess(1),
    $border-color: uswdsSuccess(3),
    $rule-color: uswdsSuccess(3),
    $icon-color: uswdsSuccess(3)
  );
}

.message-box--warning {
  @include message-box-color-scheme(
    $text-color: uswdsGray(8),
    $background-color: uswdsWarning(1),
    $border-color: uswdsWarning(3),
    $rule-color: uswdsWarning(3),
    $icon-color: uswdsWarning(4)
  );
}
