.search-form {
  display: flex;
  border: 1px solid uswdsGray(4);
}

[type="search"].search-form__input {
  border: none;
}

.search-form__button {
  color: $white;
  font-size: 1rem;

  @include appearance-reset;
  background-color: lcsBlue(4);
}
