.tile-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.tile {
  position: relative;

  display: block;
  padding-top: 100%;

  color: $white;
  text-decoration: none;
}

.tile::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(uswdsGray(8), 0.25);
}

.tile__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

@include breakpoint(small) {
  .tile-container {
    grid-template-columns: 1fr 1fr;
  }
}

@include breakpoint(medium) {
  .tile-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
