.tooltip__container {
  position: relative;
}

.tooltip__button {
  margin: 0;
  padding: 0;
  font-size: 1rem;

  @include appearance-reset;
  background-color: transparent;
}

.tooltip {
  position: absolute;
  top: 50%;

  min-width: 12rem;
  padding: 1rem;

  border-radius: 0.5rem;
  @include elevation(2);
}
