@include breakpoint(small) {
  .layout.columns-5 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include breakpoint(medium) {
  .layout.columns-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
