@include breakpoint(small) {
  .layout.columns-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include breakpoint(medium) {
  .layout.columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
