@include breakpoint(small) {
  .layout.flex {
    display: flex;

    &.wrap-small-up {
      flex-wrap: wrap;
    }
  }
}

@include breakpoint(medium) {
  .layout.flex {
    display: flex;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    &.wrap-medium-up {
      flex-wrap: wrap;
    }
  }
  .layout.flex > * {
    flex: 1 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
