@import "./layouts/columns";
@import "./layouts/column1";
@import "./layouts/column2";
@import "./layouts/column3";
@import "./layouts/column4";
@import "./layouts/column5";
@import "./layouts/column6";
@import "./layouts/flex";
@import "./layouts/mainsidebarleft";
@import "./layouts/mainsidebarright";

.layout {
  gap: 1rem;
}

@include breakpoint(medium) {
  .layout {
    gap: 2rem;
  }
}
