button,
.button {
  display: inline-block;

  padding: 1em 2em;

  text-decoration: none;

  @include appearance-reset;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;

  &:hover {
    text-decoration: none;
  }

  // Sizes
  &.small {
    font-size: 0.75rem;
  }
  &.default {
    font-size: 0.875rem;
  }
  &.large {
    font-size: 1rem;
  }

  // Styles
  &.primary {
    color: $white;

    background-color: lcsBlue(4);
    border: 1px solid lcsBlue(4);

    &:hover {
      color: lcsBlue(4);

      background-color: $white;
      border: 1px solid $white;
      @include elevation(1);
    }

    &.alt {
      background-color: $white;
      border: 1px solid $white;

      color: lcsBlue(4);

      &:hover {
        background-color: lcsBlue(4);
        border: 1px solid lcsBlue(4);

        color: $white;
      }
    }
  }

  &.secondary {
    color: $white;

    background-color: lcsOrange(4);
    border: 1px solid lcsOrange(4);

    &:hover {
      color: lcsOrange(4);

      background-color: $white;
      border: 1px solid $white;

      @include elevation(1);
    }

    &.alt {
      background-color: $white;
      border: 1px solid $white;

      color: lcsOrange(4);

      &:hover {
        background-color: lcsOrange(4);
        border: 1px solid lcsOrange(4);

        color: $white;
      }
    }
  }

  &.tertiary {
    color: lcsBlue(4);

    background-color: transparent;
    border: 1px solid lcsBlue(4);

    &:hover {
      background-color: lcsBlue(4);

      color: $white;
    }

    &.alt {
      background-color: transparent;
      border: 1px solid $white;

      color: $white;

      &:hover {
        background-color: $white;

        color: lcsBlue(4);
      }
    }
  }

  &.danger {
    color: $white;

    background-color: uswdsError(3);
    border: 1px solid uswdsError(3);

    &:hover {
      background-color: uswdsError(4);

      color: $white;
    }

    &.alt {
      background-color: $white;
      border: 1px solid $white;

      color: uswdsError(3);

      &:hover {
        background-color: uswdsError(3);
        border: 1px solid uswdsError(3);

        color: $white;
      }
    }
  }

  &.success {
    color: $white;

    background-color: uswdsSuccess(3);
    border: 1px solid uswdsSuccess(3);

    &:hover {
      background-color: uswdsSuccess(4);

      color: $white;
    }

    &.alt {
      background-color: $white;
      border: 1px solid $white;

      color: uswdsSuccess(3);

      &:hover {
        background-color: uswdsSuccess(3);
        border: 1px solid uswdsSuccess(3);

        color: $white;
      }
    }
  }

  &.with-icon .fa {
    margin-left: 0.5rem;
  }
}
