input {
  &[type="text"],
  &[type="search"] {
    @include input-default;

    @include disabled {
      border: 1px solid uswdsDisabled(3);
    }

    @include invalid {
      color: uswdsError(3);
      border: 1px solid uswdsError(3);
    }

    @include valid {
      border: 1px solid uswdsSuccess(3);
    }
  }

  @include disabled {
    color: uswdsDisabled(3);
    background-color: uswdsDisabled(1);
    cursor: not-allowed;
  }
}
