@mixin vertical-list-item {
  li {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

dl {
  margin: 0;
}

dt {
  &:after {
    display: block;

    height: 1px;
    width: 4rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    background-color: uswdsGray(3);
    content: "";
  }
}

dd {
  margin-left: 1rem;
  margin-bottom: 1.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

ol {
  @include vertical-list-item;
}

ul {
  &.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &.inline {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;

    li {
      margin-right: 1rem;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &:not(.inline):not(.menu) {
    @include vertical-list-item;
  }
}
