.radio {
  position: absolute;
  top: 50%;
  left: 0;

  display: inline-block;

  height: 12px;
  width: 12px;

  background-color: $white;
  border: 1px solid uswdsGray(4);
  border-radius: 50%;
  pointer-events: none;
  transform: translateY(-50%);
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

.form-option-wrapper input:checked ~ .radio:after {
  display: block;
}

.form-option-wrapper .radio:after {
  top: 50%;
  left: 50%;

  width: 6px;
  height: 6px;

  border-radius: 50%;
  background: uswdsGray(8);
  transform: translate3d(-50%, -50%, 0);
}
