select {
  @include input-default;
  border-radius: 4px;

  @include disabled {
    color: uswdsDisabled(3);
    background-color: uswdsDisabled(1);
    cursor: not-allowed;
  }

  @include invalid {
    color: uswdsError(3);
    border: 1px solid uswdsError(3);
  }
}
