$font-directory: "../fonts/public-sans/";

@font-face {
  font-family: "Public Sans";
  font-weight: 400;
  src: url("#{$font-directory}/PublicSans-Regular.woff2") format("woff2"),
    url("#{$font-directory}/PublicSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 700;
  src: url("#{$font-directory}/PublicSans-Bold.woff2") format("woff2"),
    url("#{$font-directory}/PublicSans-Bold.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i&display=swap");

html {
  font-size: 100%;
}

body {
  color: uswdsGray(8);
  font-family: $sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// BASE TYPOGRAPHY
// --------------------------------------------------------

a,
.a {
  @include a;
}

address,
.address {
  @include address;
}

blockquote,
.blockquote {
  @include blockquote;
  margin-left: 0;
}

button,
.button {
  @include button-text;
}

caption,
.caption {
  @include caption;
}

cite,
.cite {
  @include cite;
}

dt,
.dt {
  @include description-term;
}

h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}
h4,
.h4,
.section-label {
  @include h4;
}

// Labels and Legends
.input-label,
legend {
  @include label-input;
}

.checkbox-label,
.radio-label {
  @include label-checkbox;
}

i,
em {
  @include i;
}

mark {
  @include mark;
}

p,
.p {
  @include paragraph;
}

pre,
.pre {
  @include pre;
}

q {
  @include quote;
}

small {
  @include small;
}

strong,
b {
  @include strong;
}

// UI TYPOGRAPHY
// --------------------------------------------------------

.ui-mini-copy {
  @include ui-mini-copy;
}

.ui-micro-copy {
  @include ui-micro-copy;
}
