.menu {
  margin: 0;
  padding: 0;

  background-color: $white;
  list-style: none;
}

.menu li {
  margin: 0;
  padding: 1rem;

  border-bottom: 1px solid uswdsGray(2);
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: uswdsGray(1);
  }

  &:last-of-type {
    border-bottom: none;
  }
}
