.toggle {
  position: relative;

  width: 3rem;
  height: 3rem;

  background-color: $white;
  @include appearance-reset;
  border-radius: 0.5rem;
  cursor: pointer;
  @include elevation(1);

  &:hover {
    @include elevation(3);

    .toggle__item {
      background-color: uswdsGray(8);
    }
  }
}

.toggle__item {
  position: absolute;

  background-color: uswdsGray(5);
  transition: background-color 150ms ease-in-out;
}
