@each $num, $color in $uswds-grayscale {
  .bg-gray-#{$num} {
    background-color: $color;
  }
}

.has-background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
