@mixin input-default {
  position: relative;
  display: block;
  min-height: 3rem;
  width: 100%;

  padding-left: 0.5rem;

  font-family: $sans-serif;
  font-size: 1rem;

  @include appearance-reset;
  background-color: $white;
  border: 1px solid uswdsGray(4);
}
