@mixin message-box-color-scheme(
  $text-color,
  $background-color,
  $border-color,
  $rule-color,
  $icon-color
) {
  color: $text-color;

  background-color: $background-color;
  border-color: $border-color;

  .message-box__rule {
    background-color: $rule-color;
  }

  .message-box__icon {
    color: $icon-color;
  }
}
